<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
     <link rel="stylesheet" href="/styles/navbar.css">
     <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    <div class="main-container">
    <nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/image/logo.png" alt="Logo" height="32">
            </a>

            <!-- Navigation Items -->
            <div class="navbar-nav ms-auto gap-4">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-bus fa-2x"></i>
                    <!-- <i class="nav-icon bi bi-bus-front"></i> -->
                    <span class="nav-text">buses</span>
                </a>
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-taxi fa-2x"></i>
                    <!-- <i class="nav-icon bi bi-taxi-front"></i> -->
                    <span class="nav-text">taxis</span>
                </a>
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-truck-pickup fa-2x"></i>
                    <!-- <i class="nav-icon bi bi-truck"></i> -->
                    <span class="nav-text">goods</span>
                </a>
            </div>
        </div>
    </nav>

