<%- include("../partials/user/header.ejs") %>
    <link rel="stylesheet" href="/styles/busResult.css">
    <div class="container py-4">
        <!-- Bus Result 1 -->
        <div class="bus-result-container">
            <div class="bus-result-company">UMS</div>
            <div class="bus-result-dots">
                <span class="bus-result-dot dot-red"></span>
                <span class="bus-result-dot dot-green"></span>
                <span class="bus-result-dot dot-yellow"></span>
            </div>
            <div class="bus-result-route">Balussery - Kozhikode</div>
            <div class="bus-result-line"></div>
            <i class="fas fa-bus bus-result-icon"></i>
            <div class="bus-result-duration">01:00 Hrs</div>
            <div class="bus-result-time bus-result-time-left">08:00</div>
            <div class="bus-result-time bus-result-time-right">08:00</div>
        </div>

        <!-- Bus Result 2 -->
        <div class="bus-result-container">
            <div class="bus-result-company">UMS</div>
            <div class="bus-result-dots">
                <span class="bus-result-dot dot-red"></span>
                <span class="bus-result-dot dot-green"></span>
                <span class="bus-result-dot dot-yellow"></span>
            </div>
            <div class="bus-result-route">Balussery - Kozhikode</div>
            <div class="bus-result-line"></div>
            <i class="fas fa-bus bus-result-icon"></i>
            <div class="bus-result-duration">01:00 Hrs</div>
            <div class="bus-result-time bus-result-time-left">08:00</div>
            <div class="bus-result-time bus-result-time-right">08:00</div>
        </div>

        <!-- Bus Result 3 -->
        <div class="bus-result-container">
            <div class="bus-result-company">UMS</div>
            <div class="bus-result-dots">
                <span class="bus-result-dot dot-red"></span>
                <span class="bus-result-dot dot-green"></span>
                <span class="bus-result-dot dot-yellow"></span>
            </div>
            <div class="bus-result-route">Balussery - Kozhikode</div>
            <div class="bus-result-line"></div>
            <i class="fas fa-bus bus-result-icon"></i>
            <div class="bus-result-duration">01:00 Hrs</div>
            <div class="bus-result-time bus-result-time-left">08:00</div>
            <div class="bus-result-time bus-result-time-right">08:00</div>
        </div>
    </div>
    <%- include("../partials/user/footer.ejs") %>