/* Footer styles */
/* .footer {
    background-color: #f8f9fa; 
    text-align: center;
    padding: 10px 0;
    color: #6c757d; 
    position: absolute;
    bottom: 0;
    width: 100%;
} */

/* Ensure footer stays at the bottom if content is small */
/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
} */
/* 
.main-container {
    flex: 1;
} */

/* Add margin above footer */
/* .mt-4 {
    margin-top: 1rem !important;
} */