.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #666;
    transition: color 0.3s;
    text-decoration: none;
    margin: 0 20px; /* Adds gap between links */
}

.nav-link:hover {
    color: #333;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust position of underline */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0dcaf0;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-icon {
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.nav-text {
    font-size: 0.8rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /* Prevent wrapping */
}

@media (max-width: 576px) {
    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-text {
        font-size: 0.7rem;
    }

    .nav-link {
        margin: 0 8px; /* Reduce gap slightly for smaller screens */
    }
}